/* Общие стили */
body {
    background-color: #f4f4f4;
    font-family: "Times New Roman", serif;
    margin: 0;
    padding: 20px;
}

#main_wrapper {
    width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    border: 1px solid #999;
    padding: 10px;
}

/* Шапка */
#header {
    height: 150px;
    background-color: #5b5959;
    color: #fff;
    text-align: center;
    line-height: 150px;
    margin-bottom: 10px;
}

/* Горизонтальное меню */
#menu {
    height: 40px;
    background-color: #e0e0e0;
    margin-bottom: 10px;
}
#menu ul { list-style: none; padding: 0; margin: 0; }
#menu li { float: left; padding: 10px 20px; }
#menu a { text-decoration: none; color: #000; font-weight: bold; }

/* Блочная структура по учебнику */
#central_external_wrapper {
    width: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    background-color: #fff;
}

#central_internal_wrapper {
    width: 100%;
    float: left;
    position: relative;
    right: 750px; /* Смещение для колонки 250px */
}


#content {
    width: 710px;
    float: left;
    position: relative;
    left: 750px;
    padding: 10px 20px;
}

/* Оформление текста */
.epigraph { text-align: right; font-style: italic; color: #555; }
h1, h2 { color: #000000; }


/* Подвал */
#footer {
    clear: both;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px;
    margin-top: 10px;
}

.bio-page {
    background-color: #5b5959;
    padding: 20px;
}

.bio-page .content {
    background-color: #5b5959;
    color: #fff;
    text-align: center;
    border: 3px solid #5f4343;
}

.bio-page .content p {
    color: #fff;
    text-align: left;
}

.clermont-page .content {
    background-color: #929292;
    padding: 20px;
    text-align: left;
}

a {
    color: darkblue;
    text-decoration: none;
}

@media screen {
    .bio-page .content, .clermont-page .content {
        max-width: 740px;
        margin: 0 auto;
    }
}